body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  padding:0px;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}